.cardstyle{
  width: 30%;
  margin-top: 5%;
}

.cardhead{
  background: #238496 !important;
  padding: 11px !important;
  text-align: center !important;
  border-radius: 5px !important;
  margin-bottom: 4%;
  width: 100% !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -ms-border-radius: 5px !important;
  -o-border-radius: 5px !important;
}


